.post .row {
    justify-content: center;
}

.card .header img {
    border-radius: 50%;
    height: 40px;
    width: 50px;
}

.card .header h5:hover {
    color: #C2C2C2 !important;
}

.caption h6 {
    cursor: pointer;
}

.post {
    margin-top: 20px;
    margin-bottom: 10px;
}

.postDate {
    color: #8E8E8E;
}

.dot {
    margin-left: 5px;
    margin-right: 5px;
}

.post .card-body img {
    height: 100%;
}

.card .header {
    display: flex;
    margin: 5px;
}

.card .header h5 {
    margin-left: 5px;
}

.post .caption h6,
.post .caption p {
    text-align: left;
    display: inline;
}

.post .comment-add input {
    width: 100%;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid black;
    background-color: transparent !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}